<h1><%= @list.name %></h1>

<% @list.bookmarks.each do |bookmark| %>
<div class="movie-card" style="width: 18rem;">
  <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= bookmark.movie.title %></h5>
    <p class="card-text"><%= bookmark.movie.overview %></p>
<!--     <a href="#" class="btn btn-primary">Show details</a> -->
    <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
</div>
<% end %>


<%= link_to "Back to overview", lists_path %> |

<%= link_to "Add movie", new_list_bookmark_path(@list) %>
