<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3137890/pexels-photo-3137890.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>Add a movie to the list <br>"<%= @list.name %>"</h1>
  </div>
</div>

<div class="container text-center">
  <div class="form">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie, as: :select, input_html: { class: "select2", id: "moviesearch" }%>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
